---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import About from '../components/About.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Proyects from '../components/Proyects.astro';
---

<Layout title="100 proyectos de JavaScript">
    <main class="w-full h-full bg-gradient-to-b from-slate-900 to-blue-950 text-white px-8">
        <Header/>
        <About/>
        <Proyects/>

        <Footer/>
    </main>

</Layout>